@import-normalize;
@import "font.css";
@import "header.css";
@import "recipe-list.css";
@import "buttons.css";
@import "title.css";
@import "recipe.css";
@import "ingredient-list.css";
@import "recipe-edit.css";
@import "sort-menu.css";
@import "footer.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #fff;
  font-family: "Gotham rounded", cursive;
  /* border: 15px solid #c9e8e6; */
}

.container {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }
}
