.recipe-edit {
  font-size: 14px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  max-height: 100%;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.recipe-edit__button-container {
  margin-top: 20px;
  text-align: center;
}

.recipe-edit__details-grid {
  display: grid;
  row-gap: 10px;
  column-gap: 40px;
}

.recipe-edit__label {
  font-weight: bold;
}

.recipe-edit__input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

.btn-edit {
  padding: 6px 20px;
  border-radius: 20px;
}

.btn-edit-update {
  background: hsl(24, 76%, 64%);
  margin-left: 10px;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.btn-edit-update:hover {
  background: hsl(24, 76%, 54%);
}

.btn-edit-cancel {
  background: #fff;
  color: hsl(24, 76%, 64%);
  border: 1px solid hsl(24, 76%, 64%);
  transition: 0.3s;
}

.btn-edit-cancel:hover {
  color: hsl(24, 76%, 54%);
  border: 1px solid hsl(24, 76%, 64%);
}

.recipe-edit__details-grid:last-child {
  padding: 20px 0;
}

textarea.recipe-edit__input {
  resize: none;
  height: 100px;
  margin: 8px 0;
}

.recipe-edit__instructions {
  margin-top: 10px;
}

.recipe-edit__ingredient-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin: 20px 0;
}

.recipe-edit__add_ingredient {
  display: flex;
  align-items: center;
}

.recipe-edit__icon-add-ingredient {
  font-size: 15px;
  margin-left: 10px;
  color: hsl(24, 76%, 54%);
}

.recipe-edit__icon-add-ingredient:hover {
  color: hsl(24, 76%, 34%);
  cursor: pointer;
}

.btn-ingredient-delete {
  border: 2px solid hsl(24, 76%, 64%);
  color: hsl(24, 76%, 64%);
  background: #fff;
  border-radius: 6px;
  font-weight: bold;
}

.btn-ingredient-delete:hover {
  border: 1px solid hsl(24, 76%, 54%);
}

@media (max-width: 768px) {
  .recipe-edit {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    transform: none;
  }
}

@media (min-width: 768px) {
  .recipe-edit__details-grid {
    grid-template-columns: auto 1fr;
  }
  .recipe-edit__ingredient-grid {
    margin-left: 10px;
  }
}
