.title {
  width: 100%;
  background-color: #c9e8e6;
  font-family: "Nunito", sans-serif;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #333;
  font-weight: 800;
  padding-bottom: 20px;
  color: #fff;
}

@media (min-width: 768px) {
  .title {
    padding-left: 30px;
    font-size: 1.3rem;
    text-align: left;
  }
}
