.recipe {
  padding: 30px;
  padding-bottom: 40px;
/*  background: url('../img/chalkboard.jpg');
  background-size: cover;*/
  color: #black;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
/*  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;*/
}

.recipe__header {
  margin-bottom: 30px;
}

.recipe__title {
  margin: 0;
  font-size: 1.3rem;
  color: #EFD5A5;
  font-family: 'Fredericka the Great', cursive;
  text-transform: uppercase;
  letter-spacing:4px;
  text-align: center;
}

.recipe__row {
  margin-top: 10px;
}

.recipe__label {
  margin-right: 5px;
  text-transform: uppercase;
  font-size:16px;
}

.recipe__value {
  font-weight: 300;
}

.recipe__value--indented {
  margin-top:10px;
  margin-left: 20px;
}

.recipe__instructions {
  white-space: pre-wrap;
}
