.recipe-edit {
  font-size:14px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  max-height: 100%;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index:1000;
}

.recipe-edit__remove-button-container {
  text-align: end;
}

.recipe-edit__remove-button {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.recipe-edit__details-grid {
  display: grid;
  row-gap: 10px;
  column-gap: 40px;
}

.recipe-edit__label {
  font-weight: bold;
}

.recipe-edit__input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

textarea.recipe-edit__input {
  resize: none;
  height: 200px;
}

.recipe-edit__ingredient-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 20px;
}

.recipe-edit__add-ingredient-btn-container {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .recipe-edit {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    transform: none;
  }
}

@media (min-width: 768px) {
  .recipe-edit__details-grid {
    grid-template-columns: auto 1fr;
  }
  .recipe-edit__ingredient-grid {
    margin-left: 40px;
  }
}
